Repository Team-UniVoice/UniVoice_Android, pull requests merged in 2024-07, with the labels that each got.

#5 [Feature/#4] : Bottom Nav 구현
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/univoice/feature/MainActivity.kt
  app/src/main/java/com/univoice/feature/example/compose/ExampleComposeActivity.kt
  app/src/main/java/com/univoice/feature/example/compose/ExampleComposeViewModel.kt
  app/src/main/java/com/univoice/feature/example/compose/ExampleSideEffect.kt
  app/src/main/java/com/univoice/feature/example/compose/ExampleState.kt
  app/src/main/java/com/univoice/feature/example/xml/ExampleActivity.kt
  app/src/main/java/com/univoice/feature/example/xml/ExampleAdapter.kt
  app/src/main/java/com/univoice/feature/example/xml/ExampleViewHolder.kt
  app/src/main/java/com/univoice/feature/example/xml/ExampleViewModel.kt
  app/src/main/java/com/univoice/feature/example_compose/ExampleSideEffect.kt
  app/src/main/java/com/univoice/feature/home/HomeFragment.kt
  app/src/main/java/com/univoice/feature/setting/SettingFragment.kt
  app/src/main/java/com/univoice/feature/storage/StorageFragment.kt
  app/src/main/res/layout/activity_main.xml
  app/src/main/res/layout/fragment_home.xml
  app/src/main/res/layout/fragment_setting.xml
  app/src/main/res/layout/fragment_storage.xml
  app/src/main/res/menu/menu_main_nav.xml
  app/src/main/res/navigation/nav_graph_main.xml
  app/src/main/res/values/strings.xml
Labels: ⭐ [FEAT], ⚙️ [SETTING], 🐦 언지, 🩵 xml, 💙 compose

#8 [Feature/#6] : XML 컬러&폰트 system 구성
  app/src/main/res/font/font_pretendard_bold.xml
  app/src/main/res/font/font_pretendard_regular.xml
  app/src/main/res/font/font_pretendard_semibold.xml
  app/src/main/res/font/pretendard_bold.otf
  app/src/main/res/font/pretendard_regular.otf
  app/src/main/res/font/pretendard_semibold.otf
  app/src/main/res/values/colors.xml
  app/src/main/res/values/textAppearances.xml
Labels: ⚙️ [SETTING], 🐱 가을, 🩵 xml

#9 [Feature/#7] : Compose 컬러&폰트 시스템 구성
  app/src/main/java/com/univoice/core_ui/theme/Color.kt
  app/src/main/java/com/univoice/core_ui/theme/Theme.kt
  app/src/main/java/com/univoice/core_ui/theme/Type.kt
  app/src/main/java/com/univoice/feature/home/HomeFragment.kt
Labels: ⚙️ [SETTING], 🐦 언지, 💙 compose

#14 [Feature/#13] : 프로젝트 기초 세팅 수정
  app/build.gradle.kts
  app/src/main/java/com/univoice/data/repositoryimpl/ExampleRepositoryImpl.kt
  app/src/main/java/com/univoice/domain/repository/ExampleRepository.kt
  app/src/main/java/com/univoice/feature/example/compose/ExampleComposeViewModel.kt
  app/src/main/java/com/univoice/feature/example/xml/ExampleActivity.kt
  app/src/main/java/com/univoice/feature/example/xml/ExampleViewModel.kt
Labels: ⚙️ [SETTING], 🐦 언지, 🩵 xml, 💙 compose

#22 [Feature/#12] : 로그인 페이지 UI 구현
  app/build.gradle.kts
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/univoice/data/datasource/UserPreferencesDataSource.kt
  app/src/main/java/com/univoice/data/repositoryimpl/UserPreferencesRepositoryImpl.kt
  app/src/main/java/com/univoice/data_local/UserPreferencesDataSourceImpl.kt
  app/src/main/java/com/univoice/di/UserPreferencesModule.kt
  app/src/main/java/com/univoice/domain/repository/UserPreferencesRepository.kt
  app/src/main/java/com/univoice/feature/entry/EntryActivity.kt
  app/src/main/java/com/univoice/feature/login/LoginActivity.kt
  app/src/main/java/com/univoice/feature/login/LoginBottomSheetFragment.kt
  app/src/main/java/com/univoice/feature/login/LoginViewModel.kt
  app/src/main/java/com/univoice/feature/login/WelcomeActivity.kt
  app/src/main/res/drawable/ic_back.xml
  app/src/main/res/drawable/ic_cursor.xml
  app/src/main/res/drawable/ic_entry_logo.xml
  app/src/main/res/drawable/sel_login_button.xml
  app/src/main/res/drawable/shape_gray200_fill_40_rect.xml
  app/src/main/res/drawable/shape_gray200_fill_90_rect.xml
  app/src/main/res/drawable/shape_mint400_fill_40_rect.xml
  app/src/main/res/drawable/shape_regular_fill_30_rect.xml
  app/src/main/res/drawable/shape_white_fill_top25_rect.xml
  app/src/main/res/drawable/shape_white_line_40_rect.xml
  app/src/main/res/layout/activity_entry.xml
  app/src/main/res/layout/activity_login.xml
  app/src/main/res/layout/activity_welcome.xml
  app/src/main/res/layout/fragment_login_bottom_sheet.xml
  app/src/main/res/values/colors.xml
  app/src/main/res/values/strings.xml
  app/src/main/res/values/textAppearances.xml
  app/src/main/res/values/themes.xml
  gradle/libs.versions.toml
Labels: 💟 [UI], 🐱 가을, 🩵 xml

#21 [Feature/#17] : 퀵스캔 UI 구현
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/univoice/core_ui/base/BindingActivity.kt
  app/src/main/java/com/univoice/domain/entity/QuickScanEntity.kt
  app/src/main/java/com/univoice/feature/quickscan/QuickScanActivity.kt
  app/src/main/java/com/univoice/feature/quickscan/QuickScanAdapter.kt
  app/src/main/java/com/univoice/feature/quickscan/QuickScanCompleteActivity.kt
  app/src/main/java/com/univoice/feature/quickscan/QuickScanViewHolder.kt
  app/src/main/java/com/univoice/feature/quickscan/QuickScanViewModel.kt
  app/src/main/java/com/univoice/feature/util/BindingAdapter.kt
  app/src/main/res/drawable/ic_quick_scan_bookmark_selected.xml
  app/src/main/res/drawable/ic_quick_scan_bookmark_unselected.xml
  app/src/main/res/drawable/img_quick_scan_placeholder.xml
  app/src/main/res/drawable/sel_quick_scan_bookmark.xml
  app/src/main/res/drawable/sel_quick_scan_tab_indicator.xml
  app/src/main/res/drawable/shape_gray50_fill_10_rect.xml
  app/src/main/res/drawable/shape_mint400_fill_10_rect.xml
  app/src/main/res/drawable/shape_white_line_30_rect.xml
  app/src/main/res/layout/activity_quick_scan.xml
  app/src/main/res/layout/activity_quick_scan_complete.xml
  app/src/main/res/layout/item_quick_scan.xml
  app/src/main/res/values/strings.xml
  app/src/main/res/values/themes.xml
Labels: 💟 [UI], 🐱 가을, 🩵 xml

#23 [Feature/#19] : 공지사항 세부화면 UI 구현
  app/build.gradle.kts
  app/src/main/java/com/univoice/feature/noticeDetail/NoticeDetailAdapter.kt
  app/src/main/java/com/univoice/feature/noticeDetail/NoticeDetailFragment.kt
  app/src/main/java/com/univoice/feature/noticeDetail/NoticeDetailModel.kt
  app/src/main/java/com/univoice/feature/noticeDetail/NoticeDetailViewHolder.kt
  app/src/main/res/drawable/ic_notice_detail_bookmark_off.xml
  app/src/main/res/drawable/ic_notice_detail_bookmark_on.xml
  app/src/main/res/drawable/ic_notice_detail_dislike.xml
  app/src/main/res/drawable/ic_notice_detail_like.xml
  app/src/main/res/drawable/sel_notice_detail_bookmark.xml
  app/src/main/res/drawable/sel_notice_detail_like.xml
  app/src/main/res/drawable/shape_gray900_fill_circle.xml
  app/src/main/res/drawable/shape_white_line_50_rect.xml
  app/src/main/res/layout/fragment_notice_detail.xml
  app/src/main/res/layout/item_notice_detail_image.xml
  app/src/main/res/values/strings.xml
  app/src/main/res/values/style.xml
  gradle/libs.versions.toml
Labels: 💟 [UI], 🐰 유진

#24 [Feature/#15] : 홈 페이지 UI 구현
  app/build.gradle.kts
  app/src/main/java/com/univoice/core_ui/component/SetStatusBarColor.kt
  app/src/main/java/com/univoice/core_ui/theme/Color.kt
  app/src/main/java/com/univoice/core_ui/theme/Type.kt
  app/src/main/java/com/univoice/domain/entity/NoticeCategoryListEntity.kt
  app/src/main/java/com/univoice/domain/entity/NoticeListEntity.kt
  app/src/main/java/com/univoice/domain/entity/QuickScanListEntity.kt
  app/src/main/java/com/univoice/feature/home/HomeFragment.kt
  app/src/main/java/com/univoice/feature/home/HomeViewModel.kt
  app/src/main/java/com/univoice/feature/login/LoginViewModel.kt
  app/src/main/java/com/univoice/feature/login/WelcomeActivity.kt
  app/src/main/java/com/univoice/feature/noticeDetail/NoticeDetailFragment.kt
  app/src/main/java/com/univoice/feature/setting/SettingFragment.kt
  app/src/main/res/drawable/ic_appbar_logo.xml
  app/src/main/res/drawable/ic_home_like.xml
  app/src/main/res/drawable/ic_nav_home.xml
  app/src/main/res/drawable/ic_nav_setting.xml
  app/src/main/res/drawable/ic_nav_storage.xml
  app/src/main/res/layout/activity_main.xml
  app/src/main/res/menu/menu_main_nav.xml
  app/src/main/res/navigation/nav_graph_main.xml
  app/src/main/res/values/strings.xml
  gradle/libs.versions.toml
Labels: ⭐ [FEAT], 💟 [UI], 🐦 언지, 🩵 xml, 💙 compose

#26 [Feature/#25] login 페이지 UI 수정
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/univoice/feature/login/LoginActivity.kt
  app/src/main/java/com/univoice/feature/quickscan/QuickScanActivity.kt
  app/src/main/java/com/univoice/feature/util/BiggerDotPasswordTransformationMethod.kt
  app/src/main/res/layout/activity_entry.xml
  app/src/main/res/layout/activity_login.xml
  app/src/main/res/layout/activity_welcome.xml
  app/src/main/res/values/strings.xml
Labels: ⭐ [FEAT], ✅ [MOD], 🔨 [FIX], 💟 [UI], 🐱 가을, 🩵 xml

#29 [Feature/#20] : 저장 페이지 UI 구현
  app/src/main/java/com/univoice/core_ui/base/BindingActivity.kt
  app/src/main/java/com/univoice/domain/entity/NoticeListEntity.kt
  app/src/main/java/com/univoice/feature/home/HomeFragment.kt
  app/src/main/java/com/univoice/feature/home/HomeViewModel.kt
  app/src/main/java/com/univoice/feature/login/LoginActivity.kt
  app/src/main/java/com/univoice/feature/quickscan/QuickScanViewHolder.kt
  app/src/main/java/com/univoice/feature/quickscan/QuickScanViewModel.kt
  app/src/main/java/com/univoice/feature/storage/StorageFragment.kt
  app/src/main/java/com/univoice/feature/storage/StorageItem.kt
  app/src/main/java/com/univoice/feature/storage/StorageViewModel.kt
  app/src/main/java/com/univoice/feature/util/CalculateTime.kt
  app/src/main/res/drawable/ic_home_views.png
  app/src/main/res/drawable/ic_quick_scan_complete_icon.xml
  app/src/main/res/drawable/ic_storage_heart.xml
  app/src/main/res/drawable/ic_welcome_icon.xml
  app/src/main/res/layout/activity_quick_scan_complete.xml
  app/src/main/res/layout/activity_welcome.xml
  app/src/main/res/layout/item_quick_scan.xml
  app/src/main/res/navigation/nav_graph_main.xml
  app/src/main/res/values/strings.xml
Labels: 💟 [UI], 🐱 가을, 💙 compose

#35 [Feature/#28] : 공지사항 작성하기 UI 구현
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/univoice/feature/home/HomeFragment.kt
  app/src/main/java/com/univoice/feature/home/HomeViewModel.kt
  app/src/main/java/com/univoice/feature/noticePost/NoticePostFragment.kt
  app/src/main/java/com/univoice/feature/noticePost/NoticePostImageAdapter.kt
  app/src/main/java/com/univoice/feature/noticePost/NoticePostImageItemDecorator.kt
  app/src/main/java/com/univoice/feature/noticePost/NoticePostTargetBottomSheet.kt
  app/src/main/java/com/univoice/feature/noticePost/NoticePostViewModel.kt
  app/src/main/res/drawable/ic_bottomsheet_notice_post_target_delete.xml
  app/src/main/res/drawable/ic_home_floating_action_btn.xml
  app/src/main/res/drawable/ic_nav_home.xml
  app/src/main/res/drawable/ic_nav_home_off.xml
  app/src/main/res/drawable/ic_nav_home_on.xml
  app/src/main/res/drawable/ic_nav_setting.xml
  app/src/main/res/drawable/ic_nav_setting_off.xml
  app/src/main/res/drawable/ic_nav_setting_on.xml
  app/src/main/res/drawable/ic_nav_storage.xml
  app/src/main/res/drawable/ic_nav_storage_off.xml
  app/src/main/res/drawable/ic_nav_storage_on.xml
  app/src/main/res/drawable/ic_notice_post_arrow.xml
  app/src/main/res/drawable/ic_notice_post_date.xml
  app/src/main/res/drawable/ic_notice_post_delete.xml
  app/src/main/res/drawable/ic_notice_post_image_delete.xml
  app/src/main/res/drawable/ic_notice_post_photo.xml
  app/src/main/res/drawable/ic_notice_post_target.xml
  app/src/main/res/drawable/sel_home_nav_selected_item.xml
  app/src/main/res/drawable/sel_setting_nav_selected_item.xml
  app/src/main/res/drawable/sel_storage_nav_selected_item.xml
  app/src/main/res/drawable/shape_gradient_fill_rect.xml
  app/src/main/res/drawable/shape_gray200_fill_20_rect.xml
  app/src/main/res/drawable/shape_mint400_fill_20_rect.xml
  app/src/main/res/drawable/shape_mint400_fill_24_rect.xml
  app/src/main/res/drawable/shape_mint50_fill_24_rect.xml
  app/src/main/res/drawable/shape_regular_line_16_rect.xml
  app/src/main/res/drawable/shape_regular_line_20_rect.xml
  app/src/main/res/drawable/shape_regular_line_4_rect.xml
  app/src/main/res/drawable/shpae_mint50_fill_40_rect.xml
  app/src/main/res/layout/activity_main.xml
  app/src/main/res/layout/bottomsheet_notice_post_target.xml
  app/src/main/res/layout/fragment_home.xml
  app/src/main/res/layout/fragment_notice_post.xml
  app/src/main/res/layout/item_notice_post_image.xml
  app/src/main/res/menu/menu_main_nav.xml
  app/src/main/res/navigation/nav_graph_main.xml
  app/src/main/res/values/strings.xml
  app/src/main/res/values/themes.xml
Labels: ⭐ [FEAT], 💟 [UI], 🐦 언지, 🩵 xml, 💙 compose

#39 [Feature/#38] : 비밀번호 입력, 스피너 수정
  app/src/main/java/com/univoice/feature/signup/CreateAccountActivity.kt
  app/src/main/res/drawable/btn_radius_10_selector.xml
  app/src/main/res/drawable/btn_radius_40_selector.xml
  app/src/main/res/layout/activity_school_input.xml
  app/src/main/res/layout/activity_student_id_input.xml
  app/src/main/res/values/strings.xml
Labels: ✅ [MOD], 💟 [UI], 🦊 하늘

#43 [Feature/#18] : 스플래시 UI 구현
  app/build.gradle.kts
  app/src/main/AndroidManifest.xml
  app/src/main/ic_app_icon-playstore.png
  app/src/main/java/com/univoice/feature/SplashActivity.kt
  app/src/main/res/drawable/ic_app_icon_background.xml
  app/src/main/res/layout/activity_splash.xml
  app/src/main/res/mipmap-anydpi-v26/ic_app_icon.xml
  app/src/main/res/mipmap-anydpi-v26/ic_app_icon_round.xml
  app/src/main/res/mipmap-hdpi/ic_app_icon.webp
  app/src/main/res/mipmap-hdpi/ic_app_icon_foreground.webp
  app/src/main/res/mipmap-hdpi/ic_app_icon_round.webp
  app/src/main/res/mipmap-mdpi/ic_app_icon.webp
  app/src/main/res/mipmap-mdpi/ic_app_icon_foreground.webp
  app/src/main/res/mipmap-mdpi/ic_app_icon_round.webp
  app/src/main/res/mipmap-xhdpi/ic_app_icon.webp
  app/src/main/res/mipmap-xhdpi/ic_app_icon_foreground.webp
  app/src/main/res/mipmap-xhdpi/ic_app_icon_round.webp
  app/src/main/res/mipmap-xxhdpi/ic_app_icon.webp
  app/src/main/res/mipmap-xxhdpi/ic_app_icon_foreground.webp
  app/src/main/res/mipmap-xxhdpi/ic_app_icon_round.webp
  app/src/main/res/mipmap-xxxhdpi/ic_app_icon.webp
  app/src/main/res/mipmap-xxxhdpi/ic_app_icon_foreground.webp
  app/src/main/res/mipmap-xxxhdpi/ic_app_icon_round.webp
  app/src/main/res/raw/lottie_splash.json
  app/src/main/res/values-v31/themes.xml
  app/src/main/res/values/themes.xml
  gradle/libs.versions.toml
Labels: ⭐ [FEAT], 💟 [UI], 🦊 하늘

#46 [Feature/#45] : 기본 스플래시 제거
  app/src/main/res/values-night/themes.xml
  app/src/main/res/values-v23/themes.xml
  app/src/main/res/values-v31/themes.xml
Labels: 🔨 [FIX], 🦊 하늘

#49 [Feature/#48] : 버튼 활성화 수정
  app/src/main/java/com/univoice/feature/signup/CreateAccountActivity.kt
  app/src/main/java/com/univoice/feature/signup/InfoInputActivity.kt
Labels: 🔨 [FIX], 🦊 하늘, 🩵 xml

#50 [Feature/#47] : 로그인, 회원가입 페이지 백스택 관리 & 공지 등록 완료 페이지 로티 넣기
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/univoice/feature/login/LoginActivity.kt
  app/src/main/java/com/univoice/feature/login/WelcomeActivity.kt
  app/src/main/java/com/univoice/feature/noticePost/NoticePostApplyFragment.kt
  app/src/main/java/com/univoice/feature/noticePost/NoticePostFragment.kt
  app/src/main/java/com/univoice/feature/signup/CheckInfoActivity.kt
  app/src/main/java/com/univoice/feature/signup/SignupBottomSheetFragment.kt
  app/src/main/java/com/univoice/feature/storage/StorageFragment.kt
  app/src/main/res/layout/activity_create_account.xml
  app/src/main/res/layout/activity_login.xml
  app/src/main/res/layout/activity_welcome.xml
  app/src/main/res/layout/fragment_notice_post_apply.xml
  app/src/main/res/navigation/nav_graph_main.xml
  app/src/main/res/values/strings.xml
Labels: ⭐ [FEAT], 🐱 가을, 🩵 xml

#54 [Feature/#51] : 저장 페이지 xml로 수정, 시간 계산 로직 구현
  app/src/main/java/com/univoice/feature/home/HomeNoticeAdapter.kt
  app/src/main/java/com/univoice/feature/home/HomeNoticeViewHolder.kt
  app/src/main/java/com/univoice/feature/quickscan/QuickScanActivity.kt
  app/src/main/java/com/univoice/feature/quickscan/QuickScanViewModel.kt
  app/src/main/java/com/univoice/feature/storage/StorageFragment.kt
  app/src/main/java/com/univoice/feature/storage/StorageItem.kt
  app/src/main/java/com/univoice/feature/storage/StorageViewModel.kt
  app/src/main/java/com/univoice/feature/util/CalculateDate.kt
  app/src/main/java/com/univoice/feature/util/CalculateTime.kt
  app/src/main/res/drawable/ic_home_views.png
  app/src/main/res/drawable/ic_home_views.xml
  app/src/main/res/drawable/shape_white_line_30_rect.xml
  app/src/main/res/layout/fragment_storage.xml
  app/src/main/res/layout/item_notice.xml
  app/src/main/res/layout/item_quick_scan.xml
Labels: ➕ [ADD], 🐱 가을, 🩵 xml

#60 [Feature/#59] : 스플래시 아이콘 변경
  app/src/main/res/layout/activity_splash.xml
  app/src/main/res/raw/lottie_splash.json
Labels: ✅ [MOD], 🦊 하늘, 🩵 xml

#58 [Feature/#55] : 마이페이지 UI 구현
  app/src/main/res/drawable/ic_setting_arrow.xml
  app/src/main/res/drawable/ic_setting_profile.xml
  app/src/main/res/drawable/img_school_logo.png
  app/src/main/res/drawable/shape_gray50_line_12_rect.xml
  app/src/main/res/layout/fragment_setting.xml
  app/src/main/res/values/strings.xml
Labels: 💟 [UI], 🦊 하늘, 🩵 xml

#64 [Feature/#63] : 마이페이지 로그아웃 구현
  app/src/main/java/com/univoice/feature/setting/SettingFragment.kt
  app/src/main/res/layout/fragment_setting.xml
Labels: ✅ [MOD], 🦊 하늘, 🩵 xml

#67 [Feature/#61] : Home 공지사항 API 연결
  app/src/main/java/com/univoice/data/datasource/HomeDataSource.kt
  app/src/main/java/com/univoice/data/repositoryimpl/HomeRepositoryImpl.kt
  app/src/main/java/com/univoice/data_remote/api/ApiKeyStorage.kt
  app/src/main/java/com/univoice/data_remote/api/HomeApiService.kt
  app/src/main/java/com/univoice/data_remote/datasourceimpl/HomeDataSourceImpl.kt
  app/src/main/java/com/univoice/domain/repository/HomeRepository.kt
  app/src/main/java/com/univoice/feature/home/HomeFragment.kt
  app/src/main/java/com/univoice/feature/home/HomeNoticeCategoryAdapter.kt
  app/src/main/java/com/univoice/feature/home/HomeNoticeCategoryViewHolder.kt
  app/src/main/java/com/univoice/feature/home/HomeViewModel.kt
  app/src/main/res/color/sel_color_bnv_menu.xml
  app/src/main/res/layout/activity_main.xml
  app/src/main/res/layout/fragment_home.xml
  app/src/main/res/layout/fragment_notice_post.xml
  app/src/main/res/layout/item_home_notice_category.xml
  app/src/main/res/layout/item_home_notice_content.xml
Labels: ⭐ [FEAT], 🐦 언지, 🩵 xml

#72 [Feature/#56] : 저장, 퀵스캔 api 연결
  app/src/main/java/com/univoice/app/di/QuickScanModule.kt
  app/src/main/java/com/univoice/app/di/StorageModule.kt
  app/src/main/java/com/univoice/data/datasource/QuickScanDataSource.kt
  app/src/main/java/com/univoice/data/datasource/StorageDataSource.kt
  app/src/main/java/com/univoice/data/dto/request/RequestQuickScanDto.kt
  app/src/main/java/com/univoice/data/dto/response/ResponseQuickScanDto.kt
  app/src/main/java/com/univoice/data/dto/response/ResponseStorageDto.kt
  app/src/main/java/com/univoice/data/mapper/ResponseQuickScanDtoMapper.kt
  app/src/main/java/com/univoice/data/mapper/ResponseStorageDtoMapper.kt
  app/src/main/java/com/univoice/data/repositoryimpl/HomeRepositoryImpl.kt
  app/src/main/java/com/univoice/data/repositoryimpl/QuickScanRepositoryImpl.kt
  app/src/main/java/com/univoice/data/repositoryimpl/StorageRepositoryImpl.kt
  app/src/main/java/com/univoice/data_remote/api/ApiKeyStorage.kt
  app/src/main/java/com/univoice/data_remote/api/QuickScanApiService.kt
  app/src/main/java/com/univoice/data_remote/api/StorageApiService.kt
  app/src/main/java/com/univoice/data_remote/datasourceimpl/QuickScanDataSourceImpl.kt
  app/src/main/java/com/univoice/data_remote/datasourceimpl/StorageDataSourceImpl.kt
  app/src/main/java/com/univoice/domain/entity/HomeQuickScanListEntity.kt
  app/src/main/java/com/univoice/domain/entity/QuickScanEntity.kt
  app/src/main/java/com/univoice/domain/entity/QuickScanListEntity.kt
  app/src/main/java/com/univoice/domain/repository/HomeRepository.kt
  app/src/main/java/com/univoice/domain/repository/QuickScanRepository.kt
  app/src/main/java/com/univoice/domain/repository/StorageRepository.kt
  app/src/main/java/com/univoice/feature/home/HomeFragment.kt
  app/src/main/java/com/univoice/feature/home/HomeQuickscanAdapter.kt
  app/src/main/java/com/univoice/feature/home/HomeQuickscanViewHolder.kt
  app/src/main/java/com/univoice/feature/home/HomeViewModel.kt
  app/src/main/java/com/univoice/feature/quickscan/QuickScanActivity.kt
  app/src/main/java/com/univoice/feature/quickscan/QuickScanAdapter.kt
  app/src/main/java/com/univoice/feature/quickscan/QuickScanViewHolder.kt
  app/src/main/java/com/univoice/feature/quickscan/QuickScanViewModel.kt
  app/src/main/java/com/univoice/feature/storage/StorageAdapter.kt
  app/src/main/java/com/univoice/feature/storage/StorageFragment.kt
  app/src/main/java/com/univoice/feature/storage/StorageViewHolder.kt
  app/src/main/java/com/univoice/feature/storage/StorageViewModel.kt
  app/src/main/java/com/univoice/feature/util/CalculateDate.kt
  app/src/main/res/layout/activity_quick_scan_complete.xml
  app/src/main/res/layout/item_quick_scan.xml
Labels: ⭐ [FEAT], 🐱 가을

#75 [Feature/#74] : HomeFragment 에러 수정
  app/src/main/java/com/univoice/data_remote/api/ApiKeyStorage.kt
  app/src/main/java/com/univoice/feature/home/HomeFragment.kt
  app/src/main/java/com/univoice/feature/home/HomeQuickscanViewHolder.kt
  app/src/main/res/layout/fragment_home.xml
Labels: 🚑️ [HOTFIX], 🐦 언지, 🩵 xml

#76 [Feature/#73] : 퀵스캔 읽음 체크
  app/src/main/java/com/univoice/data/datasource/QuickScanDataSource.kt
  app/src/main/java/com/univoice/data/repositoryimpl/QuickScanRepositoryImpl.kt
  app/src/main/java/com/univoice/data_remote/api/ApiKeyStorage.kt
  app/src/main/java/com/univoice/data_remote/api/QuickScanApiService.kt
  app/src/main/java/com/univoice/data_remote/datasourceimpl/QuickScanDataSourceImpl.kt
  app/src/main/java/com/univoice/domain/repository/QuickScanRepository.kt
  app/src/main/java/com/univoice/feature/quickscan/QuickScanActivity.kt
  app/src/main/java/com/univoice/feature/quickscan/QuickScanViewModel.kt
Labels: ⭐ [FEAT], 🐱 가을, 🩵 xml

#77 [Feature/#70] 학과 연결 및 합치기
  app/src/main/java/com/univoice/app/di/SignUpModule.kt
  app/src/main/java/com/univoice/app/di/UniversityModule.kt
  app/src/main/java/com/univoice/data/datasource/SignUpDataSource.kt
  app/src/main/java/com/univoice/data/datasource/UniversityDataSource.kt
  app/src/main/java/com/univoice/data/dto/request/RequestDepartmentDto.kt
  app/src/main/java/com/univoice/data/repositoryimpl/SignUpRepositoryImpl.kt
  app/src/main/java/com/univoice/data/repositoryimpl/UniversityRepositoryImpl.kt
  app/src/main/java/com/univoice/data_remote/api/SignUpApiService.kt
  app/src/main/java/com/univoice/data_remote/datasourceimpl/SignUpDataSourceImpl.kt
  app/src/main/java/com/univoice/data_remote/datasourceimpl/UniversityDataSourceImpl.kt
  app/src/main/java/com/univoice/domain/repository/SignUpRepository.kt
  app/src/main/java/com/univoice/domain/repository/UniversityRepository.kt
  app/src/main/java/com/univoice/feature/signup/DepartmentInputActivity.kt
  app/src/main/java/com/univoice/feature/signup/DepartmentInputViewModel.kt
  app/src/main/java/com/univoice/feature/signup/SchoolInputViewModel.kt
Labels: ➕ [ADD], ⭐ [FEAT], 🦊 하늘

#83 [Feature/#66] 세부 공지사항 API 연결
  app/src/main/java/com/univoice/app/di/NoticeDetailModule.kt
  app/src/main/java/com/univoice/data/datasource/NoticeDetailDataSource.kt
  app/src/main/java/com/univoice/data/dto/response/ResponseNoticeDetailDto.kt
  app/src/main/java/com/univoice/data/mapper/NoticeDetailResponseDtoMapper.kt
  app/src/main/java/com/univoice/data/repositoryimpl/NoticeDetailRepositoryImpl.kt
  app/src/main/java/com/univoice/data_remote/api/NoticeDetailApiService.kt
  app/src/main/java/com/univoice/data_remote/datasourceimpl/NoticeDetailDataSourceImpl.kt
  app/src/main/java/com/univoice/domain/entity/NoticeDetailEntity.kt
  app/src/main/java/com/univoice/domain/repository/NoticeDetailRepository.kt
  app/src/main/java/com/univoice/feature/home/HomeFragment.kt
  app/src/main/java/com/univoice/feature/noticeDetail/NoticeDetailAdapter.kt
  app/src/main/java/com/univoice/feature/noticeDetail/NoticeDetailFragment.kt
  app/src/main/java/com/univoice/feature/noticeDetail/NoticeDetailViewHolder.kt
  app/src/main/java/com/univoice/feature/noticeDetail/NoticeDetailViewModel.kt
Labels: ⭐ [FEAT], 🐰 유진

#78 [Feature/#73] : 퀵스캔 이미지 로드 로직 수정
  app/src/main/java/com/univoice/feature/home/HomeFragment.kt
  app/src/main/java/com/univoice/feature/home/HomeViewModel.kt
  app/src/main/java/com/univoice/feature/quickscan/QuickScanActivity.kt
  app/src/main/java/com/univoice/feature/quickscan/QuickScanAdapter.kt
  app/src/main/java/com/univoice/feature/quickscan/QuickScanViewHolder.kt
  app/src/main/res/layout/item_quick_scan.xml
Labels: 🔨 [FIX], 🐱 가을, 🩵 xml

#82 [Feature/#79] 공지사항 등록 완료 로티 추가
  app/src/main/java/com/univoice/feature/home/HomeFragment.kt
  app/src/main/java/com/univoice/feature/noticePost/NoticePostApplyFragment.kt
  app/src/main/res/layout/fragment_notice_post_apply.xml
  app/src/main/res/raw/lottie_notice_post_apply_finish.json
  app/src/main/res/raw/lottie_notice_post_apply_loading.json
Labels: ➕ [ADD], 💟 [UI], 🐱 가을, 🩵 xml

#84 [Feature/#80] 아이디 중복 확인
  app/src/main/java/com/univoice/data/datasource/SignUpDataSource.kt
  app/src/main/java/com/univoice/data/dto/request/RequestCheckEmailDto.kt
  app/src/main/java/com/univoice/data/repositoryimpl/SignUpRepositoryImpl.kt
  app/src/main/java/com/univoice/data_remote/api/ApiKeyStorage.kt
  app/src/main/java/com/univoice/data_remote/api/SignUpApiService.kt
  app/src/main/java/com/univoice/data_remote/datasourceimpl/SignUpDataSourceImpl.kt
  app/src/main/java/com/univoice/domain/repository/SignUpRepository.kt
  app/src/main/java/com/univoice/feature/signup/CreateAccountActivity.kt
  app/src/main/java/com/univoice/feature/signup/CreateAccountViewModel.kt
Labels: ⭐ [FEAT], 🦊 하늘, 🩵 xml

#87 [Feature/#86] : 조회수 증가 API 연결
  app/src/main/java/com/univoice/data/datasource/NoticeDetailDataSource.kt
  app/src/main/java/com/univoice/data/repositoryimpl/NoticeDetailRepositoryImpl.kt
  app/src/main/java/com/univoice/data_remote/api/ApiKeyStorage.kt
  app/src/main/java/com/univoice/data_remote/api/NoticeDetailApiService.kt
  app/src/main/java/com/univoice/data_remote/datasourceimpl/NoticeDetailDataSourceImpl.kt
  app/src/main/java/com/univoice/domain/repository/NoticeDetailRepository.kt
  app/src/main/java/com/univoice/feature/noticeDetail/NoticeDetailFragment.kt
  app/src/main/java/com/univoice/feature/noticeDetail/NoticeDetailViewModel.kt
  app/src/main/java/com/univoice/feature/quickscan/QuickScanActivity.kt
  app/src/main/java/com/univoice/feature/quickscan/QuickScanViewModel.kt
Labels: ⭐ [FEAT], 🐱 가을, 🩵 xml

#91 [Feature/#81] : Setting 페이지 API 연결
  app/src/main/java/com/univoice/app/di/SettingModule.kt
  app/src/main/java/com/univoice/data/datasource/SettingDataSource.kt
  app/src/main/java/com/univoice/data/dto/response/ResponseSettingDto.kt
  app/src/main/java/com/univoice/data/mapper/ResponseSettingDtoMapper.kt
  app/src/main/java/com/univoice/data/repositoryimpl/SettingRepositoryImpl.kt
  app/src/main/java/com/univoice/data_remote/api/ApiKeyStorage.kt
  app/src/main/java/com/univoice/data_remote/api/SettingApiService.kt
  app/src/main/java/com/univoice/data_remote/datasourceimpl/SettingDataSourceImpl.kt
  app/src/main/java/com/univoice/domain/entity/SettingUserEntity.kt
  app/src/main/java/com/univoice/domain/repository/SettingRepository.kt
  app/src/main/java/com/univoice/feature/setting/SettingFragment.kt
  app/src/main/java/com/univoice/feature/setting/SettingViewModel.kt
  app/src/main/res/drawable/img_school_logo.png
  app/src/main/res/layout/fragment_setting.xml
Labels: ⭐ [FEAT], 💟 [UI], 🐦 언지, 🩵 xml

#52 [Feature/#27] : number picker 구현
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/univoice/feature/post/dateTimePicker/TimeBottomSheetFragment.kt
  app/src/main/java/com/univoice/feature/post/dateTimePicker/adapter/CommonUtils.kt
  app/src/main/java/com/univoice/feature/post/dateTimePicker/adapter/CustomSnapHelper.kt
  app/src/main/java/com/univoice/feature/post/dateTimePicker/adapter/DateDayAdapter.kt
  app/src/main/java/com/univoice/feature/post/dateTimePicker/adapter/DateMonthAdapter.kt
  app/src/main/java/com/univoice/feature/post/dateTimePicker/adapter/DatePickerUtils.kt
  app/src/main/java/com/univoice/feature/post/dateTimePicker/adapter/DateViewHolder.kt
  app/src/main/java/com/univoice/feature/post/dateTimePicker/adapter/DateYearAdapter.kt
  app/src/main/java/com/univoice/feature/post/dateTimePicker/adapter/TimeDateAdapter.kt
  app/src/main/java/com/univoice/feature/post/dateTimePicker/adapter/TimeHourAdapter.kt
  app/src/main/java/com/univoice/feature/post/dateTimePicker/adapter/TimeMeridiemAdapter.kt
  app/src/main/java/com/univoice/feature/post/dateTimePicker/adapter/TimeMinuteAdapter.kt
  app/src/main/res/drawable/bg_date_gradient.xml
  app/src/main/res/drawable/ic_date_arrow.xml
  app/src/main/res/drawable/ic_date_close.xml
  app/src/main/res/drawable/sel_date_day_button.xml
  app/src/main/res/drawable/sel_date_day_text.xml
  app/src/main/res/drawable/shape_gray100_fill_8_rect.xml
  app/src/main/res/drawable/shape_mint900_fill_50_rect.xml
  app/src/main/res/layout/fragment_time_bottom_sheet.xml
  app/src/main/res/layout/item_date_end.xml
  app/src/main/res/layout/item_date_number.xml
  app/src/main/res/layout/item_date_start.xml
  app/src/main/res/layout/item_time_end.xml
  app/src/main/res/layout/item_time_start.xml
  app/src/main/res/values/strings.xml
  app/src/main/res/values/style.xml
  icon/ic_date_arrow.svg
  icon/ic_date_close.svg
Labels: ⭐ [FEAT], 💟 [UI], 🩵 xml

#92 [Feature/#86] : 공지 저장 취소 api 연결
  app/src/main/java/com/univoice/data/datasource/NoticeDetailDataSource.kt
  app/src/main/java/com/univoice/data/repositoryimpl/NoticeDetailRepositoryImpl.kt
  app/src/main/java/com/univoice/data_remote/api/ApiKeyStorage.kt
  app/src/main/java/com/univoice/data_remote/api/NoticeDetailApiService.kt
  app/src/main/java/com/univoice/data_remote/datasourceimpl/NoticeDetailDataSourceImpl.kt
  app/src/main/java/com/univoice/domain/repository/NoticeDetailRepository.kt
  app/src/main/java/com/univoice/feature/home/HomeQuickscanViewHolder.kt
  app/src/main/java/com/univoice/feature/noticeDetail/NoticeDetailFragment.kt
  app/src/main/java/com/univoice/feature/noticeDetail/NoticeDetailViewModel.kt
  app/src/main/java/com/univoice/feature/quickscan/QuickScanActivity.kt
  app/src/main/java/com/univoice/feature/quickscan/QuickScanViewModel.kt
  app/src/main/java/com/univoice/feature/util/Debouncer.kt
Labels: ➕ [ADD], ⭐ [FEAT], 🐱 가을

#65 [Feature/#53] 타임피커 bottomsheet 연결
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/univoice/feature/noticeDetail/NoticeDetailFragment.kt
  app/src/main/java/com/univoice/feature/noticePost/NoticePostFragment.kt
  app/src/main/java/com/univoice/feature/post/dateTimePicker/TimeBottomSheetFragment.kt
  app/src/main/java/com/univoice/feature/post/dateTimePicker/adapter/CustomSnapHelper.kt
  app/src/main/res/layout/fragment_notice_post.xml
  app/src/main/res/values/strings.xml
Labels: ⭐ [FEAT], 🐰 유진, 🩵 xml

#90 [Feature/#85] 좋아요 API 연결
  app/src/main/java/com/univoice/data/datasource/NoticeDetailDataSource.kt
  app/src/main/java/com/univoice/data/repositoryimpl/NoticeDetailRepositoryImpl.kt
  app/src/main/java/com/univoice/data_remote/api/ApiKeyStorage.kt
  app/src/main/java/com/univoice/data_remote/api/NoticeDetailApiService.kt
  app/src/main/java/com/univoice/data_remote/datasourceimpl/NoticeDetailDataSourceImpl.kt
  app/src/main/java/com/univoice/domain/repository/NoticeDetailRepository.kt
  app/src/main/java/com/univoice/feature/noticeDetail/NoticeDetailFragment.kt
  app/src/main/java/com/univoice/feature/noticeDetail/NoticeDetailViewModel.kt
Labels: ⭐ [FEAT], 🐰 유진, 🩵 xml

#97 [Feature/#94] : 리드미 작성
  README.md
Labels: 📃 [DOCS], 🐱 가을

#100 [Feature/#99] : 저장 홈이랑 공지 세부사항 연결
  app/src/main/java/com/univoice/feature/noticeDetail/NoticeDetailFragment.kt
  app/src/main/java/com/univoice/feature/storage/StorageAdapter.kt
  app/src/main/java/com/univoice/feature/storage/StorageFragment.kt
  app/src/main/java/com/univoice/feature/storage/StorageViewHolder.kt
Labels: ⭐ [FEAT], 🐱 가을, 🩵 xml

#102 [Feature/#68] : 퀵스캔 로직 수정
  app/build.gradle.kts
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/univoice/app/di/PostModule.kt
  app/src/main/java/com/univoice/data/datasource/PostDataSource.kt
  app/src/main/java/com/univoice/data/datasource/SignUpDataSource.kt
  app/src/main/java/com/univoice/data/dto/response/ResponseNoticeDetailDto.kt
  app/src/main/java/com/univoice/data/repositoryimpl/PostRepositoryImpl.kt
  app/src/main/java/com/univoice/data/repositoryimpl/SignUpRepositoryImpl.kt
  app/src/main/java/com/univoice/data/repositoryimpl/util/ContentUriRequestBody.kt
  app/src/main/java/com/univoice/data/repositoryimpl/util/extractErrorMessage.kt
  app/src/main/java/com/univoice/data_local/di/ContentResolverModule.kt
  app/src/main/java/com/univoice/data_remote/api/ApiKeyStorage.kt
  app/src/main/java/com/univoice/data_remote/api/PostApiService.kt
  app/src/main/java/com/univoice/data_remote/api/SignUpApiService.kt
  app/src/main/java/com/univoice/data_remote/datasourceimpl/PostDataSourceImpl.kt
  app/src/main/java/com/univoice/data_remote/datasourceimpl/SignUpDataSourceImpl.kt
  app/src/main/java/com/univoice/domain/entity/NoticeDetailEntity.kt
  app/src/main/java/com/univoice/domain/repository/PostRepository.kt
  app/src/main/java/com/univoice/domain/repository/SignUpRepository.kt
  app/src/main/java/com/univoice/feature/noticeDetail/NoticeDetailFragment.kt
  app/src/main/java/com/univoice/feature/noticePost/NoticePostFragment.kt
  app/src/main/java/com/univoice/feature/noticePost/NoticePostViewModel.kt
  app/src/main/java/com/univoice/feature/post/dateTimePicker/TimeBottomSheetFragment.kt
  app/src/main/java/com/univoice/feature/quickscan/QuickScanViewHolder.kt
  app/src/main/java/com/univoice/feature/signup/CreateAccountActivity.kt
  app/src/main/java/com/univoice/feature/signup/CreateAccountViewModel.kt
  app/src/main/java/com/univoice/feature/signup/InfoInputActivity.kt
  app/src/main/java/com/univoice/feature/signup/SignupBottomSheetFragment.kt
  app/src/main/java/com/univoice/feature/signup/SignupBottomSheetFragmentViewModel.kt
  app/src/main/java/com/univoice/feature/signup/StudentCardCheckActivity.kt
  app/src/main/java/com/univoice/feature/signup/StudentCardPhotoActivity.kt
  app/src/main/java/com/univoice/feature/signup/StudentIdInputActivity.kt
  app/src/main/java/com/univoice/feature/signup/StudentInfoCheckActivity.kt
  app/src/main/java/com/univoice/feature/util/CalculateDate.kt
  app/src/main/res/layout/fragment_home.xml
  app/src/main/res/layout/fragment_notice_detail.xml
  app/src/main/res/layout/fragment_notice_post.xml
  app/src/main/res/layout/fragment_setting.xml
  app/src/main/res/values/strings.xml
  gradle/libs.versions.toml
Labels: ➕ [ADD], ✅ [MOD], 🐦 언지

#106 [Feature/#105] 버튼 이미지뷰로 변경
  app/src/main/java/com/univoice/feature/signup/StudentCardPhotoActivity.kt
  app/src/main/res/layout/activity_student_card_photo.xml
Labels: ✅ [MOD], 💟 [UI], 🦊 하늘, 🩵 xml

#108 [Feature/#107] : 저장 홈 로직 수정
  app/src/main/java/com/univoice/data/mapper/ResponseStorageDtoMapper.kt
  app/src/main/java/com/univoice/data/repositoryimpl/StorageRepositoryImpl.kt
  app/src/main/java/com/univoice/domain/entity/StorageListEntity.kt
  app/src/main/java/com/univoice/domain/repository/StorageRepository.kt
  app/src/main/java/com/univoice/feature/noticeDetail/NoticeDetailFragment.kt
  app/src/main/java/com/univoice/feature/noticeDetail/NoticeDetailViewModel.kt
  app/src/main/java/com/univoice/feature/noticePost/NoticePostFragment.kt
  app/src/main/java/com/univoice/feature/noticePost/NoticePostTargetBottomSheet.kt
  app/src/main/java/com/univoice/feature/storage/StorageAdapter.kt
  app/src/main/java/com/univoice/feature/storage/StorageFragment.kt
  app/src/main/java/com/univoice/feature/storage/StorageViewHolder.kt
  app/src/main/java/com/univoice/feature/storage/StorageViewModel.kt
  app/src/main/res/drawable/shape_regular_line_rect.xml
  app/src/main/res/layout/bottomsheet_notice_post_target.xml
  app/src/main/res/layout/fragment_notice_detail.xml
  app/src/main/res/navigation/nav_graph_main.xml
Labels: ✅ [MOD], 🐱 가을, 🩵 xml

#109 [Feature/#103] 데이터 피커 오류 수정
  app/src/main/java/com/univoice/feature/noticePost/NoticePostFragment.kt
  app/src/main/java/com/univoice/feature/post/dateTimePicker/TimeBottomSheetFragment.kt
  app/src/main/java/com/univoice/feature/util/CalculateDate.kt
  app/src/main/res/layout/fragment_time_bottom_sheet.xml
  app/src/main/res/layout/item_date_number.xml
Labels: 🔨 [FIX], 🐰 유진, 🩵 xml

#113 [Feature/#107] : 전반적인 로직 수정
  app/src/main/java/com/univoice/feature/login/LoginActivity.kt
  app/src/main/java/com/univoice/feature/noticeDetail/NoticeDetailFragment.kt
  app/src/main/java/com/univoice/feature/noticeDetail/NoticeDetailViewModel.kt
  app/src/main/java/com/univoice/feature/setting/SettingFragment.kt
  app/src/main/java/com/univoice/feature/signup/CreateAccountActivity.kt
  app/src/main/java/com/univoice/feature/signup/InfoInputActivity.kt
  app/src/main/java/com/univoice/feature/signup/SignupBottomSheetFragment.kt
  app/src/main/java/com/univoice/feature/signup/StudentCardPhotoActivity.kt
  app/src/main/java/com/univoice/feature/util/ThrottleFirst.kt
  app/src/main/res/layout/activity_student_card_photo.xml
  app/src/main/res/layout/fragment_setting.xml
  app/src/main/res/layout/fragment_signup_bottom_sheet.xml
Labels: ⭐ [FEAT], 🐱 가을, 🩵 xml

#114 [Feature/#107] : 멀티파트 오류 해결
  app/src/main/java/com/univoice/data/dto/response/ResponseQuickScanDto.kt
  app/src/main/java/com/univoice/domain/entity/QuickScanListEntity.kt
  app/src/main/java/com/univoice/feature/noticePost/NoticePostFragment.kt
  app/src/main/java/com/univoice/feature/signup/StudentCardPhotoActivity.kt
  app/src/main/res/layout/item_quick_scan.xml
Labels: 🔨 [FIX], 🐱 가을, 🩵 xml

#119 [Feature/#116] : 퀵스캔, 엔트리 UI 수정
  app/src/main/res/layout/activity_create_account.xml
  app/src/main/res/layout/activity_entry.xml
  app/src/main/res/layout/item_quick_scan.xml
Labels: ✅ [MOD], 💟 [UI], 🐱 가을

#118 [FIX/#117] : 사진 용량 에러 수정
  app/src/main/java/com/univoice/feature/home/HomeFragment.kt
  app/src/main/java/com/univoice/feature/noticePost/NoticePostFragment.kt
  app/src/main/java/com/univoice/feature/signup/CreateAccountActivity.kt
  app/src/main/java/com/univoice/feature/signup/StudentCardPhotoActivity.kt
  app/src/main/res/layout/activity_create_account.xml
  app/src/main/res/layout/fragment_notice_post.xml
  app/src/main/res/layout/fragment_time_bottom_sheet.xml
  app/src/main/res/layout/item_bottom_button_create.xml
  app/src/main/res/layout/item_home_notice_quickscan.xml
Labels: 🔨 [FIX], 🦊 하늘, 🩵 xml

#122 [DOCS] 리드미 완성
  README.md
Labels: 📃 [DOCS], 🐱 가을
